<div class="text-center">
    <h1 class="display-4">Задача определить архитектуру приложения для решения поставленной задачи:</h1>
    <p>1. Придумайте и схематично нарисуйте схему базы данных, по Вашему мнению, достаточную для выполнения данной задачи</p>
    <p>2. Придумайте и схематично изобразите структуру классов и методов(без реализации) для сервиса определения приоритета запроса по критериям и весам и сервиса создания запроса с учетом многообразия каналов.</p>
    <p>3. Напишите SQL запрос, который вернет клиентов, которые хотя бы раз присылали запрос, но не присылали больше одного уточнения к запросу.</p>
</div>